{% extends "parent/base.html" %}
{% block title %}Login{% endblock title %}
{% block content %}
<p>pls inter your informations</p>
<form method='post'>
    {% csrf_token %}
    {% comment %} {{form.as_p}} {% endcomment %}
    <!-- <input type='hidden' name='text' value='{{next}}'> -->
    {% comment %} <input type='submit' value='Enter'> {% endcomment %}
    <label for="id_username">Phone:</label>
    <input type="text" name="username" id="id_username" maxlength="11" required>

    <label for="id_password">Password:</label>
    <input type="password" name="password" id="id_password" required>

    <button type="submit">Enter</button>
</form>
<br>
<p><a href='{% url "account:password_reset" %}'>Reset password</a></p>
{% comment %} <a href='{% url "social:password_change" %}'>Password Change</a> {% endcomment %}
{% comment %} <p><a href='{% url "account:password_reset" %}'>Reset password</a></p> {% endcomment %}
{% endblock content %}