{% extends "parent/base.html" %}
{% load static %}
{% block title %}Product List{% endblock title %}
{% block content %}
    <div class='header'>
        <h1>List of products by category : {{category.name}}</h1>
    </div>
    <div>
        <div>
            {% comment %} <h2>{{product.category}}</h2> {% endcomment %}
            <p>{{product.category}}</p>
            <p>{{product.inventory}}</p>
            <ul>
                {% for f in product.features.all %}
                    <li>{{f.name}} : {{f.value}}</li>
                {% endfor %}
            </ul>
            <div>
                <span>price : {{product.new_price}}</span>
            </div>
        </div>
        <div>
            {% for img in product.images.all %}
                <img src='{{img.file.url}}' with='200px' height='300px'>
            {% endfor %}    
        <div>
    </div>
    <div>
        <p>{{product.description}}</p>
    </div>
    <br><br>
    <button type='button' id='add-cart'>add to cart</button>

<br><br><br>
<h3 id='comment-count' class='comment-count'>Comments : {{product.comments.count}}</h3>
<div id="comments-list">
    {% for comment in product.comments.all %}
        <div class="comment-item">
            <p><strong>{{ comment.name }}</strong> - {{ comment.created }}</p>
            <p>{{ comment.body|linebreaks }}</p>
        </div>
        <br><br>
    {% empty %}
        <p id="no-comment">No comments yet.</p>
    {% endfor %}
</div>
<form method='post' id="comment-form"> 
    {% csrf_token %}
    {{form.as_p}}
    <input type='submit' value="ADD Comment">
</form>
<div id="comment-message" style="display:none;"></div>
<br><br><br>

{% if related_products %}
    <section class="related-products">
        <h2>Related products</h2>

        {% for related in related_products %}
            <article class="related-product">
                <a href="{{ related.get_absolute_url }}">
                    {% if related.images.first %}
                        <img src="{{ related.images.first.file.url }}"
                             alt="{{ related.name }}"
                             width="300"
                             height="300">
                    {% endif %}
                    <h3>{{ related.name }}</h3>
                </a>
                <p>{{ related.new_price }}</p>
            </article>
        {% endfor %}
    </section>
{% endif %}


<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajaxy/1.6.1/scripts/jquery.ajaxy.min.js" integrity="sha512-bztGAvCE/3+a1Oh0gUro7BHukf6v7zpzrAb3ReWAVrt+bVNNphcl2tDTKCBr5zk7iEDmQ2Bv401fX3jeVXGIcA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->


<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajaxy/1.6.1/scripts/jquery.ajaxy.min.js" integrity="sha512-bztGAvCE/+a10h0gUro7BHukf6v7zpzrAb3ReWAvrt+bVNNphc12tDKCBr5zk7iEdMQ2Bv401fx3jeVXGICA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->

<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script>
    $(document).ready(function(){
        $('#add-cart').click(function(){
            var button = $(this);
            $.ajax({
                type : 'POST',
                url : '{% url "cart:add_to_cart" product.id %}',
                data : {'csrfmiddlewaretoken':'{{csrf_token}}'},
                success:function(data){
                    $('#item_count').text(data.item_count);
                    $('#total_price').text(data.total_price);
                },
            });
        });
    });
    $('#comment-form').on('submit', function(e) {
        e.preventDefault();

        $.ajax({
            type: 'POST',
            url: '{% url "shop:product_comment" product.id %}',
            data: {
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'body': $('#id_body').val(),
            },
            success: function(data) {
                if (data.status === 'ok') {
                    // پاک کردن فرم
                    $('#id_body').val('');

                    // حذف پیام «هنوز کامنتی نیست»
                    $('#no-comment').remove();

                    // اضافه کردن کامنت جدید به لیست بدون reload
                    var newComment = `
                        <div class="comment-item">
                            <strong>${data.name}</strong>
                            <span>${data.created}</span>
                            <p>${data.body}</p>
                        </div>
                    `;
                    $('#comments-list').prepend(newComment);

                    // نمایش پیام موفقیت
                    $('#comment-message').text('کامنت شما ثبت شد.').show();
                    setTimeout(function() {
                        $('#comment-message').hide();
                    }, 3000);
                }
            },
            error: function(xhr) {
                // var errors = xhr.responseJSON.errors;
                // $('#comment-message').text('خطا: ' + JSON.stringify(errors)).show();
                
                var msg = 'خطا در ارسال کامنت.';
                if (xhr.responseJSON && xhr.responseJSON.errors) {
                    msg += ' ' + JSON.stringify(xhr.responseJSON.errors);
                }
                $('#comment-message').text(msg).show();
            }
        });
    });
</script>
{% endblock content %}